<div class="main-panel">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <ng-content select="list-buttons"></ng-content>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <mat-card class="work-layout">
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="content-layout">
      <ng-content select="list-content"></ng-content>
    </mat-card-content>
  </mat-card>
</div>
