<mat-form-field class="main-layout">
	<mat-label>{{label}}</mat-label>
	<mat-select [formControl]="formControl" [errorStateMatcher]="matcher" required class="component-layout">

  @for (item of list; track item) {
    <mat-option [value]="item[keyField]">{{item[valueField]}}</mat-option>
  }

  @for (key  of mapKeys(); track key) {
    <mat-option [value]="key">{{mapValue(key)}}</mat-option>
  }
	</mat-select>

  @if (formControl.hasError('required')) {
    <mat-error>{{loc("input.required")}}</mat-error>
  }
</mat-form-field>
