@if (selMode.value=='DV') {
  <development-panel #developPanel class="main-panel">
    <mat-button-toggle-group [hideSingleSelectionIndicator]="true" [formControl]="selMode" class="mode-selector">
      <mat-button-toggle value="DV" (change)="onModeSet()">{{ mode("DV") }}</mat-button-toggle>
      <mat-button-toggle value="TR" (change)="onModeSet()">{{ mode("TR") }}</mat-button-toggle>
      <mat-button-toggle value="AR" (change)="onModeSet()">{{ mode("AR") }}</mat-button-toggle>
    </mat-button-toggle-group>
  </development-panel>
}

@if (selMode.value=='TR') {
  <trading-panel #tradingPanel class="main-panel">
    <mat-button-toggle-group [hideSingleSelectionIndicator]="true" [formControl]="selMode" class="mode-selector">
      <mat-button-toggle value="DV" (change)="onModeSet()">{{ mode("DV") }}</mat-button-toggle>
      <mat-button-toggle value="TR" (change)="onModeSet()">{{ mode("TR") }}</mat-button-toggle>
      <mat-button-toggle value="AR" (change)="onModeSet()">{{ mode("AR") }}</mat-button-toggle>
    </mat-button-toggle-group>
  </trading-panel>
}

@if (selMode.value=='AR') {
  <archive-panel #archivePanel class="main-panel">
    <mat-button-toggle-group [hideSingleSelectionIndicator]="true" [formControl]="selMode" class="mode-selector">
      <mat-button-toggle value="DV" (change)="onModeSet()">{{ mode("DV") }}</mat-button-toggle>
      <mat-button-toggle value="TR" (change)="onModeSet()">{{ mode("TR") }}</mat-button-toggle>
      <mat-button-toggle value="AR" (change)="onModeSet()">{{ mode("AR") }}</mat-button-toggle>
    </mat-button-toggle-group>
  </archive-panel>
}
