<list-panel title="{{loc('title') +' '+ par.tradingSystem.name}}">
  <list-buttons>
    <back-button></back-button>
    |
    <period-selector [(period)]="period" (periodChange)="onPeriodChange($event)"></period-selector>
    <run-button      (click)="onRunClick()"      [disabled]="!runEnabled()"></run-button>
    <optimize-button (click)="onOptimizeClick()"></optimize-button>
    <save-button     (click)="onSaveClick()"    [disabled]="!runEnabled()"></save-button>
    <reload-button   (click)="onReloadClick()"  ></reload-button>

    <mat-button-toggle-group [hideSingleSelectionIndicator]="true" [formControl]="chartType">
      <mat-button-toggle value="summary"  (change)="onChartTypeChange()">{{ loc("summary") }}</mat-button-toggle>
      <mat-button-toggle value="equity"   (change)="onChartTypeChange()">{{ loc("equity") }}</mat-button-toggle>
      <mat-button-toggle value="drawdown" (change)="onChartTypeChange()">{{ loc("drawdown") }}</mat-button-toggle>
      <mat-button-toggle value="position" (change)="onChartTypeChange()">{{ loc("position") }}</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group [hideSingleSelectionIndicator]="true" [formControl]="profitType">
      <mat-button-toggle value="gross"  (change)="onProfitTypeChange()">{{ loc("gross") }}</mat-button-toggle>
      <mat-button-toggle value="net"    (change)="onProfitTypeChange()">{{ loc("net") }}</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group [hideSingleSelectionIndicator]="true" [formControl]="axisType">
      <mat-button-toggle value="time"   (change)="onAxisTypeChange()">{{ loc("time") }}</mat-button-toggle>
      <mat-button-toggle value="number" (change)="onAxisTypeChange()">{{ loc("number") }}</mat-button-toggle>
    </mat-button-toggle-group>
  </list-buttons>

  <!-- =================================================================================== -->

  <list-left>
    <mat-card class="card-layout">
      <mat-card-content class="models-layout">
        <span>{{loc("params")}}</span>
        <input-number    #inInitCap   [(value)]="params.initialCapital"  [label]="loc('initialCapital')"  [min]="minP('initialCapital')"  [max]="maxP('initialCapital')"  [optional]="optP('initialCapital')"></input-number>
        <input-number    #inMaxTolDDP [(value)]="params.maxTolDrawdPerc" [label]="loc('maxTolDrawdPerc')" [min]="minP('maxTolDrawdPerc')" [max]="maxP('maxTolDrawdPerc')" [optional]="optP('maxTolDrawdPerc')"></input-number>
        <input-number    #inMargOver  [(value)]="params.marginOverride"  [label]="loc('marginOverride')"  [min]="minP('marginOverride')"  [max]="maxP('marginOverride')"  [optional]="optP('marginOverride')"></input-number>
        <input-number    #inMaxUnits  [(value)]="params.maxUnits"        [label]="loc('maxUnits')"        [min]="minP('maxUnits')"        [max]="maxP('maxUnits')"        [optional]="optP('maxUnits')"></input-number>
        <select-required #srRiskPerU  [(key)]  ="params.riskPerUnit"     [label]="loc('riskPerUnit')"     [map]="positionRiskPerUnits"></select-required><br/>
        <input-number    #inRiskVal   [(value)]="params.riskValue"       [label]="loc('riskValue')"       [min]="minP('riskValue')" [max]="maxP('riskValue')" [optional]="optP('riskValue')" [disabled]="params.riskPerUnit != 'fixedValue'"></input-number>
      </mat-card-content>
    </mat-card>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <mat-card class="card-layout">
      <mat-card-content class="models-layout">
        <span>{{loc("current")}}</span>
        <table>
          <tr>
            <td>{{loc('model')}}</td><td class="cell-style">{{curName()}}</td>
          </tr>

          @if (curModel.name == "FU") {
            <tr>
              <td>{{loc('fu.units')}}</td><td class="cell-style">{{curModel.config['units']}}</td>
            </tr>
            <tr><td>&nbsp;</td><td></td></tr>
            <tr><td>&nbsp;</td><td></td></tr>
            <tr><td>&nbsp;</td><td></td></tr>
          }

          @if (curModel.name == "PR") {
            <tr>
              <td>{{loc('pr.riskPerTrade')}}</td><td class="cell-style">{{curModel.config['riskPerTrade']}}</td>
            </tr>
            <tr><td>&nbsp;</td><td></td></tr>
            <tr><td>&nbsp;</td><td></td></tr>
            <tr><td>&nbsp;</td><td></td></tr>
          }

          @if (curModel.name == "PV") {
            <tr>
              <td>{{loc('pv.averageLength')}}</td><td class="cell-style">{{curModel.config['averageLength']}}</td>
            </tr>
            <tr>
              <td>{{loc('pv.maxVolatility')}}</td><td class="cell-style">{{curModel.config['maxVolatility']}}</td>
            </tr>
            <tr><td>&nbsp;</td><td></td></tr>
            <tr><td>&nbsp;</td><td></td></tr>
          }

          @if (curModel.name == "MM") {
            <tr>
              <td>{{loc('mm.riskPerTradeOnCap')}}</td><td class="cell-style">{{curModel.config['riskPerTradeOnCap']}}</td>
            </tr>
            <tr>
              <td>{{loc('mm.riskPerTradeOnEarn')}}</td><td class="cell-style">{{curModel.config['riskPerTradeOnEarn']}}</td>
            </tr>
            <tr>
              <td>{{loc('mm.moneyConversion')}}</td><td class="cell-style">{{curMoneyConversion()}}</td>
            </tr>
            <tr>
              <td>{{loc('mm.percentageOnCapital')}}</td><td class="cell-style">{{curModel.config['percentageOnCapital']}}</td>
            </tr>
          }

          <tr><td>{{loc('usedMargin')}}</td> <td class="cell-style">{{par.usedMargin}}</td></tr>
          <tr><td>{{loc('grossRisk')}}</td>  <td class="cell-style">{{par.grossRisk}}</td></tr>
          <tr><td>{{loc('netRisk')}}</td>    <td class="cell-style">{{par.netRisk}}</td></tr>
          <tr><td>{{loc('costPerOper')}}</td><td class="cell-style">{{par.costPerOperation}}</td></tr>
        </table>
      </mat-card-content>
    </mat-card>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <mat-card class="card-layout">
      <mat-card-content class="models-layout">
        <span>{{loc("selected")}}</span>
        <select-required [label]="loc('model')" [(key)]="selModel.name" [map]="positionModels"></select-required><br/>

        @if (selModel.name == "FU") {
          <input-number #inUnits [(value)]="selModel.config['units']" [label]="loc('fu.units')" [min]="minM('units')" [max]="maxM('units')" [optional]="optM('units')"></input-number>
        }

        @if (selModel.name == "PR") {
          <input-number #inRiskPerTr [(value)]="selModel.config['riskPerTrade']" [label]="loc('pr.riskPerTrade')" [min]="minM('riskPerTrade')" [max]="maxM('riskPerTrade')" [optional]="optM('riskPerTrade')"></input-number>
        }

        @if (selModel.name == "PV") {
          <input-number #inAvgLen [(value)]="selModel.config['averageLength']" [label]="loc('pv.averageLength')" [min]="minM('averageLength')" [max]="maxM('averageLength')" [optional]="optM('averageLength')"></input-number>
          <input-number #inMaxVol [(value)]="selModel.config['maxVolatility']" [label]="loc('pv.maxVolatility')" [min]="minM('maxVolatility')" [max]="maxM('maxVolatility')" [optional]="optM('maxVolatility')"></input-number>
        }

        @if (selModel.name == "MM") {
          <input-number    #inRiskOnCap [(value)]="selModel.config['riskPerTradeOnCap']"   [label]="loc('mm.riskPerTradeOnCap')"   [min]="minM('riskPerTradeOnCap')" [max]="maxM('riskPerTradeOnCap')" [optional]="optM('riskPerTradeOnCap')"></input-number>
          <input-number    #inRiskOnEar [(value)]="selModel.config['riskPerTradeOnEarn']"  [label]="loc('mm.riskPerTradeOnEarn')"  [min]="minM('riskPerTradeOnEarn')" [max]="maxM('riskPerTradeOnEarn')" [optional]="optM('riskPerTradeOnEarn')"></input-number>
          <select-required #srMonConv   [(key)]  ="selModel.config['moneyConversion']"     [label]="loc('mm.moneyConversion')"     [map]="positionMoneyConversion"></select-required><br/>
          <input-number    #inPercOnCap [(value)]="selModel.config['percentageOnCapital']" [label]="loc('mm.percentageOnCapital')" [min]="minM('percentageOnCapital')" [max]="maxM('percentageOnCapital')" [optional]="optM('percentageOnCapital')" [disabled]="selModel.config['moneyConversion'] != 'percOnCapital'"></input-number>
        }

      </mat-card-content>
    </mat-card>
  </list-left>

  <!-- =================================================================================== -->

  <list-content>
    @if (chartType.value == "summary") {
      <simple-table #table
                    [columns]    = "summaryColumns"
                    [data]       = "summaryData"
                    [searchPanel]= "false"
      ></simple-table>
    }

    @if (chartType.value == "equity") {
      <apx-chart  class="chart-layout"
                  [title]      = "chartEquity.title"
                  [chart]      = "chartEquity.chart"
                  [series]     = "chartEquity.series"
                  [dataLabels] = "chartEquity.dataLabels"
                  [plotOptions]= "chartEquity.plotOptions"
                  [stroke]     = "chartEquity.stroke"
                  [xaxis]      = "chartEquity.xaxis"
                  [colors]     = "chartEquity.colors"
                  [yaxis]      = "chartEquity.yaxis"
                  [grid]       = "chartEquity.grid"
                  [annotations]= "chartEquity.annotations"
      ></apx-chart>
    }

    @if (chartType.value == "drawdown") {
      <apx-chart  class="chart-layout"
                  [title]      = "chartDrawdown.title"
                  [chart]      = "chartDrawdown.chart"
                  [series]     = "chartDrawdown.series"
                  [dataLabels] = "chartDrawdown.dataLabels"
                  [plotOptions]= "chartDrawdown.plotOptions"
                  [stroke]     = "chartDrawdown.stroke"
                  [xaxis]      = "chartDrawdown.xaxis"
                  [colors]     = "chartDrawdown.colors"
                  [yaxis]      = "chartDrawdown.yaxis"
                  [grid]       = "chartDrawdown.grid"
                  [annotations]= "chartDrawdown.annotations"
      ></apx-chart>
    }

    @if (chartType.value == "position") {
      <apx-chart  class="chart-layout"
                  [title]      = "chartPosition.title"
                  [chart]      = "chartPosition.chart"
                  [series]     = "chartPosition.series"
                  [dataLabels] = "chartPosition.dataLabels"
                  [plotOptions]= "chartPosition.plotOptions"
                  [stroke]     = "chartPosition.stroke"
                  [xaxis]      = "chartPosition.xaxis"
                  [colors]     = "chartPosition.colors"
                  [yaxis]      = "chartPosition.yaxis"
                  [grid]       = "chartPosition.grid"
                  [annotations]= "chartPosition.annotations"
      ></apx-chart>
    }
  </list-content>
</list-panel>
