<list-panel [title]="pe.name">
  <list-buttons>
    <back-button></back-button>
    |
    <delete-button (click)="onDeleteClick()"></delete-button>
  </list-buttons>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <list-content>
    <table>
      <tr>
        <td>{{mod("accountPerc")}}</td>
        <td class="data-style">{{pe.accountPerc}}</td>
        <td class="separator-width"></td>
        <td>{{mod("correlationPeriod")}}</td>
        <td class="data-style">{{pe.correlationPeriod}} {{loc("days")}}</td>
        <td class="separator-width"></td>
        <td>{{mod("accountCode")}}</td>
        <td class="data-style"><a routerLink="/{{Url.Inventory_Accounts}}/{{pe.account?.id}}">{{pe.account?.name}}</a></td>
      </tr>

      <tr>
        <td>{{mod("maxMarginPerc")}}</td>
        <td class="data-style">{{pe.maxMarginPerc}}</td>
        <td class="separator-width"></td>
        <td>{{mod("runPeriod")}}</td>
        <td class="data-style">{{pe.runPeriod}} {{loc("weeks")}}</td>
        <td class="separator-width"></td>
        <td>{{mod("createdAt")}}</td>
        <td class="data-style">{{pe.createdAt}}</td>
      </tr>

      <tr>
        <td>{{mod("currencyCode")}}</td>
        <td class="data-style">{{pe.currency?.code}}</td>
        <td class="separator-width"></td>
        <td></td>
        <td></td>
        <td class="separator-width"></td>
        <td>{{mod("updatedAt")}}</td>
        <td class="data-style">{{pe.updatedAt}}</td>
      </tr>
    </table>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <mat-tab-group class="table-panel" [mat-stretch-tabs]="false">
      <mat-tab label="{{loc('tradingSystemRefs')}}">
        <flex-table #table
                    [columns]       = "tradingSystemCols"
                    [dataProvider]  = "getTradingSystems"
                    (onRowsSelected)= "onRowSelected($event)">
          <button mat-icon-button (click)="onSystemsAdd()">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button (click)="onSystemsRemove()" [disabled]="selection.length == 0">
            <mat-icon>remove</mat-icon>
          </button>
        </flex-table>
      </mat-tab>
    </mat-tab-group>

  </list-content>
</list-panel>
