<list-panel [title]="pe.name">
  <list-buttons>
    <back-button></back-button>
    |
    <delete-button (click)="onDeleteClick()"></delete-button>
  </list-buttons>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <list-content>
    <table>
      <tr>
        <td>{{mod("accountPerc")}}</td>
        <td class="data-style">{{pe.accountPerc}}</td>
        <td class="separator-width"></td>
        <td>{{mod("management")}}</td>
        <td class="data-style">{{management(pe.management)}}</td>
        <td class="separator-width"></td>
        <td>{{mod("accountCode")}}</td>
        <td class="data-style"><a routerLink="/{{Url.Inventory_Accounts}}/{{pe.account?.id}}">{{pe.account?.name}}</a></td>
      </tr>

      <tr>
        <td>{{mod("maxMarginPerc")}}</td>
        <td class="data-style">{{pe.maxMarginPerc}}</td>
        <td class="separator-width"></td>
        <td>{{mod("currencyCode")}}</td>
        <td class="data-style">{{pe.currency?.code}}</td>
        <td class="separator-width"></td>
        <td>{{mod("createdAt")}}</td>
        <td class="data-style">{{pe.createdAt}}</td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td class="separator-width"></td>
        <td></td>
        <td></td>
        <td class="separator-width"></td>
        <td>{{mod("updatedAt")}}</td>
        <td class="data-style">{{pe.updatedAt}}</td>
      </tr>
    </table>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <mat-tab-group class="table-panel" [mat-stretch-tabs]="false">
      <mat-tab label="{{loc('tradingSystemRefs')}}">
        <flex-table [columns] = "tradingSystemCols"
                    [data]    = "pe.tradingSystems"
        >
        </flex-table>
      </mat-tab>
    </mat-tab-group>

  </list-content>
</list-panel>
