@if (sessionService.isAuthenticated && labelService.isLoaded) {
  <div>

    <!-- Main application - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    @if (!isModule()) {
      <div>
        <header-panel></header-panel>
        <main-panel></main-panel>
      </div>
    }

    <!-- Modules (doc/code editors, performance metrics, etc...) - - - - - - - - - - - - - -->

    @if (isModule()) {
      <div class="module-layout">
        <router-outlet></router-outlet>
      </div>
    }
  </div>
}
