<div class="main-layout">
  <module-title-panel icon="query_stats" title="{{loc('title') + ' '+par.tradingSystem?.name}}" (onClose)="onClose()"></module-title-panel>

  <!-- ============================================================================================================= -->

  <div class="header-layout">
    <period-selector [(period)]="period" (periodChange)="onPeriodChange($event)"></period-selector>
    <select-required [label]="loc('timezone')" [(key)]="timezone" [list]="timezones" (keyChange)="onTimezoneChange($event)" keyField="timezone" valueField="code"></select-required>
    <div>
      <span>{{loc('dataFrom')}} : </span><br/>
      <span>{{loc('dataTo')}} : </span>
    </div>
    <div>
      <b>{{dataFrom}}</b><br/>
      <b>{{dataTo}}</b>
    </div>

    <span style="flex:1 0 auto"></span>

    <mat-button-toggle-group [hideSingleSelectionIndicator]="true" [formControl]="selTab">
      <mat-button-toggle value="summary"      (change)="onTabSet()">{{ loc("tab.summary") }}</mat-button-toggle>
      <mat-button-toggle value="charts"       (change)="onTabSet()">{{ loc("tab.charts") }}</mat-button-toggle>
      <mat-button-toggle value="aggregates"   (change)="onTabSet()">{{ loc("tab.aggregates") }}</mat-button-toggle>
      <mat-button-toggle value="rolling"      (change)="onTabSet()">{{ loc("tab.rolling") }}</mat-button-toggle>
      <mat-button-toggle value="distribution" (change)="onTabSet()">{{ loc("tab.distribution") }}</mat-button-toggle>
      <mat-button-toggle value="trades"       (change)="onTabSet()">{{ loc("tab.trades") }}</mat-button-toggle>
    </mat-button-toggle-group>

    <div>
      <button mat-icon-button (click)="onReloadClick()">
        <span class="material-symbols-outlined">refresh</span>
      </button>
    </div>
  </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  @if (selTab.value=='summary') {
    <performance-summary-panel class="panel-layout" [par]="par"></performance-summary-panel>
  }

  @if (selTab.value=='charts') {
    <performance-chart-panel class="panel-layout" [par]="par"></performance-chart-panel>
  }

  @if (selTab.value=='aggregates') {
    <performance-aggregate-panel class="panel-layout" [par]="par"></performance-aggregate-panel>
  }

  @if (selTab.value=='trades') {
    <performance-trade-panel class="panel-layout" [par]="par"></performance-trade-panel>
  }

  @if (selTab.value=='distribution') {
    <performance-distribution-panel class="panel-layout" [par]="par"></performance-distribution-panel>
  }

  @if (selTab.value=='rolling') {
    <performance-rolling-panel class="panel-layout" [par]="par"></performance-rolling-panel>
  }

  <!-- ============================================================================================================= -->

</div>
