<div class="main-layout">

    <div class="options-layout">
      <period-selector [(period)]="period" (periodChange)="onPeriodChange($event)"></period-selector>
      <timeframe-selector #timeframeCtrl [label]="loc('timeframe')" [(value)]="timeframe" (valueChange)="onTimeframeChange($event)"></timeframe-selector>
      <select-required    #timezoneCtrl    [label]="loc('timezone')"  [(key)]  ="timezone"  keyField="timezone" valueField="code" [list]="timezones" (keyChange)="onTimezoneChange($event)"></select-required>

      <button mat-icon-button (click)="onReload()">
        <mat-icon>restart_alt</mat-icon>
      </button>
    </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <flex-table #table class="table-layout"
              [columns] = "columns"
              [data]    = "dataPoints"
    ></flex-table>
</div>
