
@switch (true) {
  @case (!!menuItem.children) {
    <a (click)="clickAnchor.emit()">
      <ng-container *ngTemplateOutlet="innerItem"></ng-container>
    </a>
  }
  @case (!!menuItem.route || menuItem.route === '') {
    <a
      [routerLink]="disable ? undefined : menuItem.route"
      (click)="onClick()"
      routerLinkActive
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: menuItem.linkActiveExact === undefined ? true : menuItem.linkActiveExact }"
      >
      <ng-container *ngTemplateOutlet="innerItem"></ng-container>
    </a>
  }
  @case (!!menuItem.url) {
    <a [href]="menuItem.url" [target]="menuItem.target">
      <ng-container *ngTemplateOutlet="innerItem"></ng-container>
    </a>
  }
}

<ng-template #innerItem>
  <mat-icon class="asm-menu-anchor__icon" >{{menuItemClass(menuItem)}}</mat-icon>
  <span class="asm-menu-anchor__label">{{ menuItem.label }}</span>
  @if (menuItem.badges || menuItem.children) {
    <span class="asm-menu-anchor__pull"
      [ngClass]="{ 'asm-badges': menuItem.badges, 'asm-toggle': menuItem.children }">
      @for (badge of menuItem.badges; track badge) {
        <span [class]="badge.classes" class="asm-badges__badge">{{
          badge.label
        }}</span>
      }
      <span class="asm-toggle__icon"><ng-content select="[toggleIcon]"></ng-content></span>
    </span>
  }
</ng-template>


